.list {
  width: 60%;
  margin: 1rem auto;
  position: relative;
  padding: 0;
}

.list__orderFilter {
  display: flex;
}

.list__ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list__filter {
  width: 100%;

  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

@media only screen and (max-width: 1000px) {
  .list__filter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .list__orderFilter {
    margin-bottom: 1rem;
  }

  .list {
    width: 80%;
  }
}
